<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.infore.csep.pojo.mapper.FactsewatimeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.infore.csep.pojo.entity.Factsewatime">
        <id column="id" property="id" />
        <result column="factNum" property="factNum" />
        <result column="equmNum" property="equmNum" />
        <result column="valMan" property="valMan" />
        <result column="valMans" property="valMans" />
        <result column="valMane" property="valMane" />
        <result column="valAuto" property="valAuto" />
        <result column="valAutos" property="valAutos" />
        <result column="valAutoe" property="valAutoe" />
        <result column="setMan" property="setMan" />
        <result column="setMans" property="setMans" />
        <result column="setMane" property="setMane" />
        <result column="setAuto" property="setAuto" />
        <result column="setAutos" property="setAutos" />
        <result column="setAutoe" property="setAutoe" />
        <result column="setBoot" property="setBoot" />
        <result column="setBoots" property="setBoots" />
        <result column="setBoote" property="setBoote" />
        <result column="setStop" property="setStop" />
        <result column="setStops" property="setStops" />
        <result column="setStope" property="setStope" />
        <result column="setTerm" property="setTerm" />
        <result column="setTerms" property="setTerms" />
        <result column="setTerme" property="setTerme" />
        <result column="setRest" property="setRest" />
        <result column="setRests" property="setRests" />
        <result column="setReste" property="setReste" />
        <result column="setLock" property="setLock" />
        <result column="setLocks" property="setLocks" />
        <result column="setLocke" property="setLocke" />
        <result column="valHalt" property="valHalt" />
        <result column="valHalts" property="valHalts" />
        <result column="valHalte" property="valHalte" />
        <result column="valReclnRem1" property="valReclnRem1" />
        <result column="valReclnRem1s" property="valReclnRem1s" />
        <result column="valReclnRem1e" property="valReclnRem1e" />
        <result column="valReclnMan1" property="valReclnMan1" />
        <result column="valReclnMan1s" property="valReclnMan1s" />
        <result column="valReclnMan1e" property="valReclnMan1e" />
        <result column="valReclnFb1" property="valReclnFb1" />
        <result column="valReclnFb1s" property="valReclnFb1s" />
        <result column="valReclnFb1e" property="valReclnFb1e" />
        <result column="valReclnFa1" property="valReclnFa1" />
        <result column="valReclnFa1s" property="valReclnFa1s" />
        <result column="valReclnFa1e" property="valReclnFa1e" />
        <result column="valReclnRem2" property="valReclnRem2" />
        <result column="valReclnRem2s" property="valReclnRem2s" />
        <result column="valReclnRem2e" property="valReclnRem2e" />
        <result column="valReclnMan2" property="valReclnMan2" />
        <result column="valReclnMan2s" property="valReclnMan2s" />
        <result column="valReclnMan2e" property="valReclnMan2e" />
        <result column="valReclnFb2" property="valReclnFb2" />
        <result column="valReclnFb2s" property="valReclnFb2s" />
        <result column="valReclnFb2e" property="valReclnFb2e" />
        <result column="valReclnFa2" property="valReclnFa2" />
        <result column="valReclnFa2s" property="valReclnFa2s" />
        <result column="valReclnFa2e" property="valReclnFa2e" />
        <result column="valPipumpRem1" property="valPipumpRem1" />
        <result column="valPipumpRem1s" property="valPipumpRem1s" />
        <result column="valPipumpRem1e" property="valPipumpRem1e" />
        <result column="valPipumpMan1" property="valPipumpMan1" />
        <result column="valPipumpMan1s" property="valPipumpMan1s" />
        <result column="valPipumpMan1e" property="valPipumpMan1e" />
        <result column="valPipumpFb1" property="valPipumpFb1" />
        <result column="valPipumpFb1s" property="valPipumpFb1s" />
        <result column="valPipumpFb1e" property="valPipumpFb1e" />
        <result column="valPipumpFa1" property="valPipumpFa1" />
        <result column="valPipumpFa1s" property="valPipumpFa1s" />
        <result column="valPipumpFa1e" property="valPipumpFa1e" />
        <result column="valPipumpRem2" property="valPipumpRem2" />
        <result column="valPipumpRem2s" property="valPipumpRem2s" />
        <result column="valPipumpRem2e" property="valPipumpRem2e" />
        <result column="valPipumpMan2" property="valPipumpMan2" />
        <result column="valPipumpMan2s" property="valPipumpMan2s" />
        <result column="valPipumpMan2e" property="valPipumpMan2e" />
        <result column="valPipumpFb2" property="valPipumpFb2" />
        <result column="valPipumpFb2s" property="valPipumpFb2s" />
        <result column="valPipumpFb2e" property="valPipumpFb2e" />
        <result column="valPipumpFa2" property="valPipumpFa2" />
        <result column="valPipumpFa2s" property="valPipumpFa2s" />
        <result column="valPipumpFa2e" property="valPipumpFa2e" />
        <result column="valConvRem" property="valConvRem" />
        <result column="valConvRems" property="valConvRems" />
        <result column="valConvReme" property="valConvReme" />
        <result column="valConvMan" property="valConvMan" />
        <result column="valConvMans" property="valConvMans" />
        <result column="valConvMane" property="valConvMane" />
        <result column="valConvFb" property="valConvFb" />
        <result column="valConvFbs" property="valConvFbs" />
        <result column="valConvFbe" property="valConvFbe" />
        <result column="valConvFa" property="valConvFa" />
        <result column="valConvFas" property="valConvFas" />
        <result column="valConvFae" property="valConvFae" />
        <result column="valSplRem" property="valSplRem" />
        <result column="valSplRems" property="valSplRems" />
        <result column="valSplReme" property="valSplReme" />
        <result column="valSplMan" property="valSplMan" />
        <result column="valSplMans" property="valSplMans" />
        <result column="valSplMane" property="valSplMane" />
        <result column="valSplFb" property="valSplFb" />
        <result column="valSplFbs" property="valSplFbs" />
        <result column="valSplFbe" property="valSplFbe" />
        <result column="valSplFa" property="valSplFa" />
        <result column="valSplFas" property="valSplFas" />
        <result column="valSplFae" property="valSplFae" />
        <result column="valAgitRem" property="valAgitRem" />
        <result column="valAgitRems" property="valAgitRems" />
        <result column="valAgitReme" property="valAgitReme" />
        <result column="valAgitMan" property="valAgitMan" />
        <result column="valAgitMans" property="valAgitMans" />
        <result column="valAgitMane" property="valAgitMane" />
        <result column="valAgitFb" property="valAgitFb" />
        <result column="valAgitFbs" property="valAgitFbs" />
        <result column="valAgitFbe" property="valAgitFbe" />
        <result column="valAgitFa" property="valAgitFa" />
        <result column="valAgitFas" property="valAgitFas" />
        <result column="valAgitFae" property="valAgitFae" />
        <result column="valSdgPumpRem" property="valSdgPumpRem" />
        <result column="valSdgPumpRems" property="valSdgPumpRems" />
        <result column="valSdgPumpReme" property="valSdgPumpReme" />
        <result column="valSdgPumpMan" property="valSdgPumpMan" />
        <result column="valSdgPumpMans" property="valSdgPumpMans" />
        <result column="valSdgPumpMane" property="valSdgPumpMane" />
        <result column="valSdgPumpFb" property="valSdgPumpFb" />
        <result column="valSdgPumpFbs" property="valSdgPumpFbs" />
        <result column="valSdgPumpFbe" property="valSdgPumpFbe" />
        <result column="valSdgPumpFa" property="valSdgPumpFa" />
        <result column="valSdgPumpFas" property="valSdgPumpFas" />
        <result column="valSdgPumpFae" property="valSdgPumpFae" />
        <result column="valSubPumpRem1" property="valSubPumpRem1" />
        <result column="valSubPumpRem1s" property="valSubPumpRem1s" />
        <result column="valSubPumpRem1e" property="valSubPumpRem1e" />
        <result column="valSubPumpMan1" property="valSubPumpMan1" />
        <result column="valSubPumpMan1s" property="valSubPumpMan1s" />
        <result column="valSubPumpMan1e" property="valSubPumpMan1e" />
        <result column="valSubPumpFb1" property="valSubPumpFb1" />
        <result column="valSubPumpFb1s" property="valSubPumpFb1s" />
        <result column="valSubPumpFb1e" property="valSubPumpFb1e" />
        <result column="valSubPumpFa1" property="valSubPumpFa1" />
        <result column="valSubPumpFa1s" property="valSubPumpFa1s" />
        <result column="valSubPumpFa1e" property="valSubPumpFa1e" />
        <result column="valSubPumpRem2" property="valSubPumpRem2" />
        <result column="valSubPumpRem2s" property="valSubPumpRem2s" />
        <result column="valSubPumpRem2e" property="valSubPumpRem2e" />
        <result column="valSubPumpMan2" property="valSubPumpMan2" />
        <result column="valSubPumpMan2s" property="valSubPumpMan2s" />
        <result column="valSubPumpMan2e" property="valSubPumpMan2e" />
        <result column="valSubPumpFb2" property="valSubPumpFb2" />
        <result column="valSubPumpFb2s" property="valSubPumpFb2s" />
        <result column="valSubPumpFb2e" property="valSubPumpFb2e" />
        <result column="valSubPumpFa2" property="valSubPumpFa2" />
        <result column="valSubPumpFa2s" property="valSubPumpFa2s" />
        <result column="valSubPumpFa2e" property="valSubPumpFa2e" />
        <result column="valSubPumpRem3" property="valSubPumpRem3" />
        <result column="valSubPumpRem3s" property="valSubPumpRem3s" />
        <result column="valSubPumpRem3e" property="valSubPumpRem3e" />
        <result column="valSubPumpMan3" property="valSubPumpMan3" />
        <result column="valSubPumpMan3s" property="valSubPumpMan3s" />
        <result column="valSubPumpMan3e" property="valSubPumpMan3e" />
        <result column="valSubPumpFb3" property="valSubPumpFb3" />
        <result column="valSubPumpFb3s" property="valSubPumpFb3s" />
        <result column="valSubPumpFb3e" property="valSubPumpFb3e" />
        <result column="valSubPumpFa3" property="valSubPumpFa3" />
        <result column="valSubPumpFa3s" property="valSubPumpFa3s" />
        <result column="valSubPumpFa3e" property="valSubPumpFa3e" />
        <result column="valFltRem" property="valFltRem" />
        <result column="valFltRems" property="valFltRems" />
        <result column="valFltReme" property="valFltReme" />
        <result column="valFltMan" property="valFltMan" />
        <result column="valFltMans" property="valFltMans" />
        <result column="valFltMane" property="valFltMane" />
        <result column="valFltFb" property="valFltFb" />
        <result column="valFltFbs" property="valFltFbs" />
        <result column="valFltFbe" property="valFltFbe" />
        <result column="valFltFa" property="valFltFa" />
        <result column="valFltFas" property="valFltFas" />
        <result column="valFltFae" property="valFltFae" />
        <result column="valRwPumpRem" property="valRwPumpRem" />
        <result column="valRwPumpRems" property="valRwPumpRems" />
        <result column="valRwPumpReme" property="valRwPumpReme" />
        <result column="valRwPumpMan" property="valRwPumpMan" />
        <result column="valRwPumpMans" property="valRwPumpMans" />
        <result column="valRwPumpMane" property="valRwPumpMane" />
        <result column="valRwPumpFb" property="valRwPumpFb" />
        <result column="valRwPumpFbs" property="valRwPumpFbs" />
        <result column="valRwPumpFbe" property="valRwPumpFbe" />
        <result column="valRwPumpFa" property="valRwPumpFa" />
        <result column="valRwPumpFas" property="valRwPumpFas" />
        <result column="valRwPumpFae" property="valRwPumpFae" />
        <result column="valAcRem" property="valAcRem" />
        <result column="valAcRems" property="valAcRems" />
        <result column="valAcReme" property="valAcReme" />
        <result column="valAcMan" property="valAcMan" />
        <result column="valAcMans" property="valAcMans" />
        <result column="valAcMane" property="valAcMane" />
        <result column="valAlRem" property="valAlRem" />
        <result column="valAlRems" property="valAlRems" />
        <result column="valAlReme" property="valAlReme" />
        <result column="valAlMan" property="valAlMan" />
        <result column="valAlMans" property="valAlMans" />
        <result column="valAlMane" property="valAlMane" />
        <result column="valPACagRem" property="valPACagRem" />
        <result column="valPACagRems" property="valPACagRems" />
        <result column="valPACagReme" property="valPACagReme" />
        <result column="valPACagMan" property="valPACagMan" />
        <result column="valPACagMans" property="valPACagMans" />
        <result column="valPACagMane" property="valPACagMane" />
        <result column="valPACagFb" property="valPACagFb" />
        <result column="valPACagFbs" property="valPACagFbs" />
        <result column="valPACagFbe" property="valPACagFbe" />
        <result column="valPACagFa" property="valPACagFa" />
        <result column="valPACagFas" property="valPACagFas" />
        <result column="valPACagFae" property="valPACagFae" />
        <result column="valPACpRem" property="valPACpRem" />
        <result column="valPACpRems" property="valPACpRems" />
        <result column="valPACpReme" property="valPACpReme" />
        <result column="valPACpMan" property="valPACpMan" />
        <result column="valPACpMans" property="valPACpMans" />
        <result column="valPACpMane" property="valPACpMane" />
        <result column="valPACpFb" property="valPACpFb" />
        <result column="valPACpFbs" property="valPACpFbs" />
        <result column="valPACpFbe" property="valPACpFbe" />
        <result column="valPACpFa" property="valPACpFa" />
        <result column="valPACpFas" property="valPACpFas" />
        <result column="valPACpFae" property="valPACpFae" />
        <result column="valRwQRem1" property="valRwQRem1" />
        <result column="valRwQRem1s" property="valRwQRem1s" />
        <result column="valRwQRem1e" property="valRwQRem1e" />
        <result column="valRwQMan1" property="valRwQMan1" />
        <result column="valRwQMan1s" property="valRwQMan1s" />
        <result column="valRwQMan1e" property="valRwQMan1e" />
        <result column="valRwQO1" property="valRwQO1" />
        <result column="valRwQO1s" property="valRwQO1s" />
        <result column="valRwQO1e" property="valRwQO1e" />
        <result column="valRwQC1" property="valRwQC1" />
        <result column="valRwQC1s" property="valRwQC1s" />
        <result column="valRwQC1e" property="valRwQC1e" />
        <result column="valRwQRem2" property="valRwQRem2" />
        <result column="valRwQRem2s" property="valRwQRem2s" />
        <result column="valRwQRem2e" property="valRwQRem2e" />
        <result column="valRwQMan2" property="valRwQMan2" />
        <result column="valRwQMan2s" property="valRwQMan2s" />
        <result column="valRwQMan2e" property="valRwQMan2e" />
        <result column="valRwQO2" property="valRwQO2" />
        <result column="valRwQO2s" property="valRwQO2s" />
        <result column="valRwQO2e" property="valRwQO2e" />
        <result column="valRwQC2" property="valRwQC2" />
        <result column="valRwQC2s" property="valRwQC2s" />
        <result column="valRwQC2e" property="valRwQC2e" />
        <result column="valRwORem3" property="valRwORem3" />
        <result column="valRwORem3s" property="valRwORem3s" />
        <result column="valRwORem3e" property="valRwORem3e" />
        <result column="valRwQMan3" property="valRwQMan3" />
        <result column="valRwQMan3s" property="valRwQMan3s" />
        <result column="valRwQMan3e" property="valRwQMan3e" />
        <result column="valRwQO3" property="valRwQO3" />
        <result column="valRwQO3s" property="valRwQO3s" />
        <result column="valRwQO3e" property="valRwQO3e" />
        <result column="valRwQC3" property="valRwQC3" />
        <result column="valRwQC3s" property="valRwQC3s" />
        <result column="valRwQC3e" property="valRwQC3e" />
        <result column="valRwInQRem" property="valRwInQRem" />
        <result column="valRwInQRems" property="valRwInQRems" />
        <result column="valRwInQReme" property="valRwInQReme" />
        <result column="valRwInQMan" property="valRwInQMan" />
        <result column="valRwInQMans" property="valRwInQMans" />
        <result column="valRwInQMane" property="valRwInQMane" />
        <result column="valPACInQRem" property="valPACInQRem" />
        <result column="valPACInQRems" property="valPACInQRems" />
        <result column="valPACInQReme" property="valPACInQReme" />
        <result column="valPACInQMan" property="valPACInQMan" />
        <result column="valPACInQMans" property="valPACInQMans" />
        <result column="valPACInQMane" property="valPACInQMane" />
        <result column="valRwBLl" property="valRwBLl" />
        <result column="valRwBLls" property="valRwBLls" />
        <result column="valRwBLle" property="valRwBLle" />
        <result column="valRwBLh" property="valRwBLh" />
        <result column="valRwBLhs" property="valRwBLhs" />
        <result column="valRwBLhe" property="valRwBLhe" />
        <result column="valPACBLl" property="valPACBLl" />
        <result column="valPACBLls" property="valPACBLls" />
        <result column="valPACBLle" property="valPACBLle" />
        <result column="valPACBLh" property="valPACBLh" />
        <result column="valPACBLhs" property="valPACBLhs" />
        <result column="valPACBLhe" property="valPACBLhe" />
        <result column="setRecln1" property="setRecln1" />
        <result column="setRecln1s" property="setRecln1s" />
        <result column="setRecln1e" property="setRecln1e" />
        <result column="setRecln2" property="setRecln2" />
        <result column="setRecln2s" property="setRecln2s" />
        <result column="setRecln2e" property="setRecln2e" />
        <result column="setPiPump1" property="setPiPump1" />
        <result column="setPiPump1s" property="setPiPump1s" />
        <result column="setPiPump1e" property="setPiPump1e" />
        <result column="setPiPump2" property="setPiPump2" />
        <result column="setPiPump2s" property="setPiPump2s" />
        <result column="setPiPump2e" property="setPiPump2e" />
        <result column="setConv" property="setConv" />
        <result column="setConvs" property="setConvs" />
        <result column="setConve" property="setConve" />
        <result column="setSpl" property="setSpl" />
        <result column="setSpls" property="setSpls" />
        <result column="setSple" property="setSple" />
        <result column="setAgit" property="setAgit" />
        <result column="setAgits" property="setAgits" />
        <result column="setAgite" property="setAgite" />
        <result column="setSdgPump" property="setSdgPump" />
        <result column="setSdgPumps" property="setSdgPumps" />
        <result column="setSdgPumpe" property="setSdgPumpe" />
        <result column="setSubPump1" property="setSubPump1" />
        <result column="setSubPump1s" property="setSubPump1s" />
        <result column="setSubPump1e" property="setSubPump1e" />
        <result column="setSubPump2" property="setSubPump2" />
        <result column="setSubPump2s" property="setSubPump2s" />
        <result column="setSubPump2e" property="setSubPump2e" />
        <result column="setSubPump3" property="setSubPump3" />
        <result column="setSubPump3s" property="setSubPump3s" />
        <result column="setSubPump3e" property="setSubPump3e" />
        <result column="setFlt" property="setFlt" />
        <result column="setFlts" property="setFlts" />
        <result column="setFlte" property="setFlte" />
        <result column="setRwPump" property="setRwPump" />
        <result column="setRwPumps" property="setRwPumps" />
        <result column="setRwPumpe" property="setRwPumpe" />
        <result column="setAc" property="setAc" />
        <result column="setAcs" property="setAcs" />
        <result column="setAce" property="setAce" />
        <result column="setAl" property="setAl" />
        <result column="setAls" property="setAls" />
        <result column="setAle" property="setAle" />
        <result column="setPACag" property="setPACag" />
        <result column="setPACags" property="setPACags" />
        <result column="setPACage" property="setPACage" />
        <result column="setPACp" property="setPACp" />
        <result column="setPACps" property="setPACps" />
        <result column="setPACpe" property="setPACpe" />
        <result column="setRwQO1" property="setRwQO1" />
        <result column="setRwQO1s" property="setRwQO1s" />
        <result column="setRwQO1e" property="setRwQO1e" />
        <result column="setRwQC1" property="setRwQC1" />
        <result column="setRwQC1s" property="setRwQC1s" />
        <result column="setRwQC1e" property="setRwQC1e" />
        <result column="setRwQO2" property="setRwQO2" />
        <result column="setRwQO2s" property="setRwQO2s" />
        <result column="setRwQO2e" property="setRwQO2e" />
        <result column="setRwQC2" property="setRwQC2" />
        <result column="setRwQC2s" property="setRwQC2s" />
        <result column="setRwQC2e" property="setRwQC2e" />
        <result column="setRwQO3" property="setRwQO3" />
        <result column="setRwQO3s" property="setRwQO3s" />
        <result column="setRwQO3e" property="setRwQO3e" />
        <result column="setRwQC3" property="setRwQC3" />
        <result column="setRwQC3s" property="setRwQC3s" />
        <result column="setRwQC3e" property="setRwQC3e" />
        <result column="setRwInQO" property="setRwInQO" />
        <result column="setRwInQOs" property="setRwInQOs" />
        <result column="setRwInQOe" property="setRwInQOe" />
        <result column="setPACInQO" property="setPACInQO" />
        <result column="setPACInQOs" property="setPACInQOs" />
        <result column="setPACInQOe" property="setPACInQOe" />
        <result column="valReclnF1" property="valReclnF1" />
        <result column="valReclnF1s" property="valReclnF1s" />
        <result column="valReclnF1e" property="valReclnF1e" />
        <result column="valReclnF2" property="valReclnF2" />
        <result column="valReclnF2s" property="valReclnF2s" />
        <result column="valReclnF2e" property="valReclnF2e" />
        <result column="valPiPumpF1" property="valPiPumpF1" />
        <result column="valPiPumpF1s" property="valPiPumpF1s" />
        <result column="valPiPumpF1e" property="valPiPumpF1e" />
        <result column="valPiPumpF2" property="valPiPumpF2" />
        <result column="valPiPumpF2s" property="valPiPumpF2s" />
        <result column="valPiPumpF2e" property="valPiPumpF2e" />
        <result column="valConvF" property="valConvF" />
        <result column="valConvFs" property="valConvFs" />
        <result column="valConvFe" property="valConvFe" />
        <result column="valSplF" property="valSplF" />
        <result column="valSplFs" property="valSplFs" />
        <result column="valSplFe" property="valSplFe" />
        <result column="valAgitF" property="valAgitF" />
        <result column="valAgitFs" property="valAgitFs" />
        <result column="valAgitFe" property="valAgitFe" />
        <result column="valSdgPumpF" property="valSdgPumpF" />
        <result column="valSdgPumpFs" property="valSdgPumpFs" />
        <result column="valSdgPumpFe" property="valSdgPumpFe" />
        <result column="valSubPumpF1" property="valSubPumpF1" />
        <result column="valSubPumpF1s" property="valSubPumpF1s" />
        <result column="valSubPumpF1e" property="valSubPumpF1e" />
        <result column="valSubPumpF2" property="valSubPumpF2" />
        <result column="valSubPumpF2s" property="valSubPumpF2s" />
        <result column="valSubPumpF2e" property="valSubPumpF2e" />
        <result column="valSubPumpF3" property="valSubPumpF3" />
        <result column="valSubPumpF3s" property="valSubPumpF3s" />
        <result column="valSubPumpF3e" property="valSubPumpF3e" />
        <result column="valFltF" property="valFltF" />
        <result column="valFltFs" property="valFltFs" />
        <result column="valFltFe" property="valFltFe" />
        <result column="valRwPumpF" property="valRwPumpF" />
        <result column="valRwPumpFs" property="valRwPumpFs" />
        <result column="valRwPumpFe" property="valRwPumpFe" />
        <result column="valAcF" property="valAcF" />
        <result column="valAcFs" property="valAcFs" />
        <result column="valAcFe" property="valAcFe" />
        <result column="valAlF" property="valAlF" />
        <result column="valAlFs" property="valAlFs" />
        <result column="valAlFe" property="valAlFe" />
        <result column="valPACagF" property="valPACagF" />
        <result column="valPACagFs" property="valPACagFs" />
        <result column="valPACagFe" property="valPACagFe" />
        <result column="valPACpF" property="valPACpF" />
        <result column="valPACpFs" property="valPACpFs" />
        <result column="valPACpFe" property="valPACpFe" />
        <result column="valRwQF1" property="valRwQF1" />
        <result column="valRwQF1s" property="valRwQF1s" />
        <result column="valRwQF1e" property="valRwQF1e" />
        <result column="valRwQF2" property="valRwQF2" />
        <result column="valRwQF2s" property="valRwQF2s" />
        <result column="valRwQF2e" property="valRwQF2e" />
        <result column="valRwQF3" property="valRwQF3" />
        <result column="valRwQF3s" property="valRwQF3s" />
        <result column="valRwQF3e" property="valRwQF3e" />
        <result column="valRwInQF" property="valRwInQF" />
        <result column="valRwInQFs" property="valRwInQFs" />
        <result column="valRwInQFe" property="valRwInQFe" />
        <result column="valPACInQF" property="valPACInQF" />
        <result column="valPACInQFs" property="valPACInQFs" />
        <result column="valPACInQFe" property="valPACInQFe" />
    </resultMap>

</mapper>
